@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Abel', sans-serif;
    color: #FFF;
}

section.flex-container {
    display: flex;
    flex: 1;
    flex-flow: row wrap!important;
    justify-content: center;
    /* border: 2px solid white; */
}

.flex-items {
    display: flex;
    flex: 1;
}

.items-01 {
    display: flex;
    background: #2980b9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3C2E9E, #2980b9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3C2E9E, #2980b9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-container {
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 5rem;
    justify-content: center;
    padding: 3rem;
}

h1 {
    text-align: center;
}

form {
    padding: 2.0rem;
}

input {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1.3rem;
    display: block;
    border: none;
    outline: none;
    box-shadow: 0 0 8px 0 rgb(82, 117, 104);
    border-radius: 0.2rem;
    font-size: 1.5rem;
}


/* input[type="email"]:before {
    content: '/f0e0';
} */

button {
    background: rgb(16, 7, 77);
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    color: #FFF;
    margin: 1.3rem 0 !important;
}

button:hover {
    background: #2980b9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3C2E9E, #2980b9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3C2E9E, #3C2E9E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: background .5s ease-in;
    color: aliceblue;
    line-height: 2.5rem;
}

a {
    text-decoration: none;
    color: aqua;
}

.items-02 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 3rem;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/students\ avatar.jpg) center no-repeat;
    font-size: 1.5rem;
}

img[dev-logo] {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 18%;
    margin-bottom: 2rem;
}


/* MOBILE RESPONSIVENESS */

@media (max-width:720px) {
    .items-02 {
        display: none;
    }
}