@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url(https://fonts.google.com/specimen/Open+Sans);
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


/* ****** HEADER STYLE STARTS HERE ************* */

header {
    display: flex;
    flex-flow: column wrap;
    background: linear-gradient(45deg, hsl(243, 87%, 12%), hsl(243, 86%, 85%));
    clip-path: polygon(0 0, 0 81%, 100% 100%, 100% 100%, 100% 0%);
    padding: 1.2em;
}

nav div[data-brand-logo] {
    position: absolute;
    left: 0;
}

img[data-brand-img] {
    display: block;
    width: 6em;
    height: 2em;
    padding: 0.8em;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

ul>a {
    text-decoration: none;
}

ul>a>li {
    color: #FFF;
    margin-right: 0.5em;
    list-style: none;
    display: inline-flex;
    line-height: 1.0em;
}

li.sign-up button {
    width: 8em;
    padding: 0.5em;
    background: hsl(163, 95%, 43%);
    border: none;
    border-radius: 0.2em;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

li.sign-up button:hover {
    background: hsl(163, 93%, 34%);
    transition: background .8s ease-in;
}

header div.header-flex-container {
    display: flex;
    padding: 0.9em;
    flex-flow: row wrap;
}

div.header-flex-container>.header-flex-item {
    flex: 2 2 10em;
    margin: 2em;
}

div.flex-item-1 {
    color: #FFF;
    text-align: justify;
    font-size: 1.5em;
}

button.get-started-btn {
    border: none;
    background: hsl(163, 95%, 43%);
    border-radius: 0.2em;
    color: #FFF;
    width: 15em;
    padding: 0.8em;
    cursor: pointer;
}

button.get-started-btn:hover {
    background: hsl(163, 74%, 28%);
    transition: background .5s ease-out;
}

div.flex-item-2 img {
    display: block;
    width: 85%;
    height: 70%;
}


/* ****** HEADER STYLE ENDS HERE ************ */


/* **********MAIN BODY STYLE STARTS HERE ********** */

main {
    display: flex;
    flex-flow: column wrap;
}

h1[body-flex-h1] {
    text-align: center;
    font-weight: 700;
}

.main-flex-container {
    display: flex;
    flex-flow: row wrap;
    padding: 1.5em;
    margin: 0;
}

.main-flex-items {
    flex-flow: row wrap;
    flex: 1;
    margin: 1.0em;
}

.main-flex-items-1 img {
    padding: 2.0em;
    display: block;
    width: 80%;
    height: 90%;
}

h3[main-flex-h3] {
    color: black;
    text-align: justify;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.main-flex-items-2,
.main-flex-items-3 {
    padding: 1.5em;
    color: hsl(0, 0%, 50%);
}

main .sub-main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

article[sub-main-article] {
    text-align: center;
    font-weight: 600;
    color: #544EA4;
}

form {
    display: flex;
    justify-content: center;
    padding: 1.3em;
}

input[get-access-input] {
    display: inline-flex;
    width: 25%;
    height: 1.5em;
    margin-right: 2em;
    padding: 0.9em;
    border: none;
    border-radius: 0.2em;
    outline: none;
    box-shadow: 0 0 4px 0 hsl(0, 0%, 50%);
}

::placeholder {
    text-align: justify;
    color: gray;
}

button[btn-join] {
    width: 15%;
    color: #FFF;
    font-weight: 600;
    border: none;
    background: hsl(163, 95%, 43%);
    border-radius: 0.2em;
    box-shadow: 0 0 2px 0 hsl(0, 0%, 50%);
    cursor: pointer;
}

button[btn-join]:hover {
    background: hsl(163, 85%, 26%);
    transition: background .5s ease-in;
}


/* **********MAIN BODY STYLE ENDS HERE ********** */


/* **********FOOTER STYLE STARTS HERE ********** */

footer {
    background: hsl(243, 87%, 12%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    font-family: 'Open sans', sans-serif;
    padding: 2.5em;
}

div.footer-flex-container {
    display: flex;
    flex-flow: row wrap;
}

div.footer-flex-item {
    flex-flow: row wrap;
    flex: 1;
    margin: 1.0em;
    border-right: 2px solid #FFF;
    color: #FFF;
}

img[data-footer-img] {
    display: block;
    width: 50%;
    height: auto;
    padding: 0.3em;
}

.footer-item-1 {
    font-size: 0.7em;
}

.footer-item-2 {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
}

.sub-item2 {
    flex-flow: row wrap;
    flex: 1;
    justify-content: center;
    margin: 1.0em;
}

.sub-item2 .sub-item2-head {
    font-weight: 600;
}

.footer-item-3 {
    display: flex;
    border-right: none !important;
    justify-content: center;
    font-size: 0.8em;
}

.footer-item-3 form {
    flex-flow: column wrap;
    flex-grow: 1;
}

p[footer-article] {
    text-align: center;
}

input[footer-input] {
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 0.2em;
}

button[footer-btn-join] {
    align-self: flex-end;
    width: 50%;
    height: 3em;
    color: #FFF;
    font-weight: 600;
    border: none;
    background: hsl(163, 95%, 43%);
    border-radius: 0.2em;
    cursor: pointer;
}

button[footer-btn-join]:hover {
    background: hsl(163, 85%, 26%);
    transition: background .5s ease-in;
}


/* *********FOOTER STYLE ENDS HERE ********** */